@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar a {
    font-size: 14px;
    font-weight: 500;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 15px;
    line-height: 0.3;
    background-color: #fff;
}